{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "قائمة العقود" %}{% endblock %}
{% block content %}
<h2 class="mb-3">{% trans "قائمة العقود" %}</h2>
<a href="{% url 'contract_add' %}" class="btn btn-success mb-3">{% trans "إضافة عقد جديد" %}</a>
<table class="table table-hover table-bordered align-middle text-center">
    <thead class="table-dark">
    <tr>
        <th>{% trans "المستأجر" %}</th>
        <th>{% trans "الوحدة" %}</th>
        <th>{% trans "بداية" %}</th>
        <th>{% trans "نهاية" %}</th>
        <th>{% trans "شهرياً" %}</th>
        <th>{% trans "سنوياً" %}</th>
        <th>{% trans "رسوم التسجيل" %}</th>
        <th>{% trans "الإجمالي" %}</th>
        <th>{% trans "المدة" %}</th>
        <th>{% trans "متبقي (يوم)" %}</th>
        <th>{% trans "متبقي (شهر)" %}</th>
        <th>{% trans "متبقي (سنة)" %}</th>
        <th>{% trans "الحالة" %}</th>
        <th>{% trans "خيارات" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for contract in object_list %}
    <tr 
        {% if contract.status_color == 'red' %}
        class="table-danger"
        {% elif contract.status_color == 'orange' %}
        class="table-warning"
        {% else %}
        class="table-success" 
        {% endif %}>
        <td>{{ contract.tenant.full_name }}</td>
        <td>{{ contract.unit }}</td>
        <td>{{ contract.start_date }}</td>
        <td>{{ contract.end_date }}</td>
        <td>{{ contract.monthly_rent_display }}</td>
        <td>{{ contract.yearly_rent_total_display }}</td>
        <td>{{ contract.registration_fee_display }}</td>
        <td>{{ contract.total_amount_display }}</td>
        <td>{{ contract.contract_duration }}</td>
        <td>{{ contract.remaining_days }}</td>
        <td>{{ contract.remaining_months }}</td>
        <td>{{ contract.remaining_years }}</td>
        <td>
          {% if contract.is_expired %}
            منتهي
            {% elif contract.status_color == 'orange' %}
            قريب الانتهاء
            {% else %}
            ساري
            {% endif %}
        </td>
        <td>
            <a href="{% url 'contract_edit' contract.id %}" class="btn btn-primary btn-sm">{% trans "تعديل" %}</a>
            {% if user.groups.first.name == 'مشرف' %}
            <a href="{% url 'contract_delete' contract.pk %}" class="btn btn-danger btn-sm">{% trans "حذف" %}</a>
        </td>
        {% endif %}
    </tr>
        {% empty %}
        <tr>
            <td colspan="9">{% trans "لا توجد عقود" %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}