{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "لوحة التحكم" %}{% endblock %}
{% block content %}
<h2>{% trans "لوحة التحكم" %}</h2>
<div class="row my-4">
  <div class="col-md-4">
    <div class="card bg-primary text-white text-center">
      <div class="card-body">
        {% trans "المباني" %}:<strong>{{ total_buildings }}</strong>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card bg-success text-white text-center">
      <div class="card-body">{% trans "المستأجرين" %}
        <strong>{{ total_tenants }}</strong>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-secondary text-white text-center">
      <div class="card-body">{% trans "العقود" %}
        <strong">{{ total_contracts }}</strong>
      </div>
    </div>
  </div>
</div>
<div class="card shadow-sm">
  <div class="card-header bg-white">
    <h5 class="mb-0">{% trans "حالة العقود" %}</h5>
  </div>
  <div class="card-body">
    <canvas id="contractsPieChart" height="100"></canvas>
  </div>
</div>
  <script>
    const ctx = document.getElementById('contractsPieChart');
    new Chart(ctx, {
      type: 'pie',
      data: {
        labels: {{ chart_data.labels|safe }},
        datasets: [{
          label: 'العقود',
          data: {{ chart_data.values|safe }},
          backgroundColor: {{ chart_data.colors|safe }},
      }]
    },
      options: {
        responsive: true,
        plugins: {
          legend: { position: 'bottom'}
        }
      }
    });
  </script>
{% endblock %}