{% load i18n %}
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="list-group">
          {% if user.is_authenticated %}
          <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action">{% trans "لوحة التحكم" %}</a>
          <a href="{% url 'building_list' %}" class="list-group-item list-group-item-action">{% trans "المباني" %}</a>
          <a href="{% url 'tenant_list' %}" class="list-group-item list-group-item-action">{% trans "المستأجرين" %}</a>
          <a href="{% url 'contract_list' %}" class="list-group-item list-group-item-action">{% trans "العقود" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
</div>