{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "المباني" %}{% endblock %}
{% block content %}
<h2>قائمة المباني</h2>
<a href="{% url 'building_add' %}" class="btn btn-primary mb-3">{% trans "إضافة مبنى جديد" %}</a>
<table class="table table-bordered table-striped text-center">
    <thead class="table-dark">
    <tr>
        <th>{% trans "الاسم" %}</th>
        <th>{% trans "العنوان" %}</th>
        <th>{% trans "خيارات" %}</th>
    </tr>
        </thead>
    <tbody>
    {% for building in buildings %}
    <tr>
        <td>{{ building.name }}</td>
        <td>{{ building.address }}</td>
        <td>
            <a href="{% url 'building_edit' building.id %}">{% trans "تعديل" %}</a>
            <a href="{% url 'building_delete' building.id %}">{% trans "حذف" %}</a>
        </td>
    </tr>
        {% empty %}
        <tr>
            <td colspan="3">{% trans "لا توجد مباني" %}</td>
        </tr>
    {% endfor %}
        </tbody>
</table>
{% endblock %}