{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "قائمة المستأجرين" %}{% endblock %}
{% block content %}
<h2>{% trans "قائمة المستأجرين" %}</h2>
<a href="{% url 'tenant_add' %}">{% trans "إضافة مستأجر جديد" %}</a>
<table>
    <tr>
        <th>{% trans "الاسم" %}</th>
        <th>{% trans " الهاتف" %}</th>
        <th>{% trans "البريد " %}</th>
        <th>{% trans "خيارات" %}</th>
    </tr>
    {% for tenant in tenants %}
    <tr>
        <td>{{ tenant.name }}</td>
        <td>{{ tenant.phone }}</td>
        <td>{{ tenant.email }}</td>
        <td>
            <a href="{% url 'tenant_edit' tenant.id %}">{% trans "تعديل" %}</a>
            <a href="{% url 'tenant_delete' tenant.id %}">{% trans "حذف" %}</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}